name: goreleaser

on:
  push:
    branches:
      - master

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_TOKEN }}
      - name: Bump version and push tag 
        shell: bash
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Actions"
          go install github.com/caarlos0/svu@latest
          OLD_TAG=$(svu current --strip-prefix)
          NEW_TAG=$(svu next --strip-prefix)
          sed -i "s/$OLD_TAG/$NEW_TAG/g" default.nix
          git add default.nix
          git commit -m "Bump version in default.nix" --allow-empty
          git tag v$NEW_TAG
          git push 
          git push --tags        
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_TOKEN }}
